.social-link a {
    color: #747474;
    font-size: 16px;
    text-transform: capitalize;
    margin: 0 10px;
    padding-bottom: 10px;
    position: relative;
    letter-spacing: 1px;
}

.social-link a:hover{
  color: #FBDF57;
}

.page-title {
    padding: 10px 0;
}

.heading-border {
    width: 50px;
    margin: 10px 0;
}

.offscreen {
position: absolute;
clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
clip: rect(1px, 1px, 1px, 1px);
padding: 0;
border: 0;
height: 1px;
width: 1px;
overflow: hidden;
}
