@font-face {
    font-family: Dilem;
    src: url(../fonts/Dilem.ttf);
    font-weight:500;
}

@font-face {
    font-family: Helsinki;
    src: url(../fonts/Helsinki.ttf);
    font-weight:500;
}

@font-face {
    font-family: abc;
    src: url(../fonts/abc.otf);
    font-weight:500;
}



body, html { font-size: 100%; padding: 0; margin: 0; width: 100%; height: 100%}

body {
	position: absolute;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: black;
}


#header, nav, section{
	width: 100%;
	text-align: center;
}


/*Title*/
#header h1{
	font-family: Helsinki;
	margin: 0;
	font-size: 60px;
}

/*About*/
#about{
	font-size: 16px;

}
/*====Project row/col*/
section{
	min-height:100%;
    min-height:calc(100% - 0);
}


.division{
	padding-left: 2px;
	border-top: 1px solid black;
}

/*Make projects square: width same as padding top**/
.project{
	float: left;
	width: 100%;
	min-height: 100px;

}

/*Projects back color*/
#smartypants{
	background-color: red;
}
#insptrees{
	background-color: yellow;
}

#archie{
	background-color: blue;
}
#artist{
	background-color: green;
}
#eptrees{
	background-color: brown;
}
#comingsoon{
	background-color: grey;
}

.project-title{
	font-family: Helsinki;
	font-weight: bold;
	font-size: 25px;
}



/*Make height and width same size as projects*/
.circle{
	position: absolute;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; 
    background-color: black;
}

/*====== Buttons =======*/

button{
	background: black;
	outline:0;
	border:0;
	border:1px solid black;
	color:white;
}

/*======LINKS======*/
.no-padding{padding: 0! important;}

nav li {
    display: inline;
    padding-left: 2px;
	padding-right: 2px;
 }

a{
	color: black;
	text-decoration: none;
	border-bottom: 2px solid black;

}
nav li a{
	font-family: abc;
	font-size: 20px;
	
}
a:hover{
	border-bottom-color: #FF4949;
}

/*=======ICONS=====*/
.fa{
	color:#FF4949;
	font-size: 40px;
	
}

.v-center {
        position: absolute;
		top: 50%;
		-ms-transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		transform: translateY(-50%);
    }

.offscreen
{
position: absolute;
clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
clip: rect(1px, 1px, 1px, 1px);
padding: 0;
border: 0;
height: 1px;
width: 1px;
overflow: hidden;
}

/*===MEDIA QUERIES*/
/*Really small devices*/
@media screen and ( min-height: 456px ){
#header h1{
	font-size: 70px;
}	
#about{
	font-size: 18px;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 10px;
}}

@media screen and ( min-height: 683px ){
	section{
		position: absolute;
		height: 50%;
		padding-top: 5%;
		min-height: 1px;
	}
	#intro{
		top:0;}
	#projects{top:40%;}
	
	

	.v-center {
        position: relative;
		top: 0;
		-ms-transform:translateY(0);
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
    }
    #projlink{
    	height: 0px;
    	visibility: hidden;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 668px) { 
#projects{
	width: 90%;
	margin-left: 5%;
	
}

.project{
	width: 50%;
	min-height: 33.33%;
}

#about{
	padding-right: 10%;
	padding-left: 10%;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
#projects{
	width: 86%;
	margin-left: 7%;
	
}

.project{
	height: 200px;
	width: 33.33%;
	min-height: 50%;
	
}
#about{
	padding-right: 15%;
	padding-left: 15%;
}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }